
<ion-content>
  
  <div class="header">
    
    
    <h2>Utilisateur</h2>
    
    <div class="space-between">
      
      <div class="followings">
        <ion-badge color="primary" mode="ios">12</ion-badge>
        <p>Films aimés</p>
      </div>
      <ion-buttons slot="end">
        <ion-menu-button menu="main-menu">
        </ion-menu-button>
      </ion-buttons>
      <div class="followings">
        <ion-badge color="primary" mode="ios">5</ion-badge>
        <p>À regarder</p>
      </div>
      
    </div>

    
  </div>
  <div class="flex">
    <div class="bordure">
      <div class="image">
        <img src="../../assets/utilisateurs.png">
      </div>
    </div>
  </div>


  <ion-card>
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="../../assets/utilisateurs.png" />
      </ion-avatar>
      <ion-label>
        <h2><b>Utilisateur</b></h2>
        <p>Il y a 2 heures</p>
      </ion-label>
    </ion-item>
    <ion-item lines="none" class="commentaire">
      <ion-label text-wrap>J'ai trop aimé la saga Twillight ! Je vous le recommande.</ion-label>
    </ion-item>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="chatbubble-outline"></ion-icon> 1
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="repeat"></ion-icon> 0
    </ion-button>
    <ion-button size="small" fill="clear">
      <ion-icon slot="start" name="heart-outline"></ion-icon> 3
    </ion-button>
  </ion-card>

</ion-content>
