ion-content{
    --ion-background-color: var(--ion-color-weflix-dark);
  }
  .bg-img {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), #222428),
    url("../../assets/trolls2.jpg");
    background-repeat: no-repeat;
    background-size: contain;
}
.img-header {
    display: flex;
    justify-content: center;
}
.img-header img{
    height: 200px;
}
.tags {
    display: flex;
    justify-content: space-around;
}
.tags p{
    color: #9E9E9E;
    font-weight: 500;
    font-size: small;
}
.tags .green{
    color: #6ed86e;
}

h4 {
    color: white;
    font-size: initial;
    font-weight: 600;
    margin-left: 17px;
}
