<ion-header>
  <ion-toolbar color="weflix-black">
    <ion-title>Les Trolls 2</ion-title>
      <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="bg-img">
    <div class="ion-padding">
      <div class="img-header">
        <img src="../../assets/trolls2.jpg">
      </div>
      <div class="tags">
        <p class="green">81% positif </p>
        <p>2020 </p>
        <p>Animation</p>
        <p>1H30</p>
      </div>

      <ion-button expand="block" color="weflix-lapis">
        <ion-icon slot="start" name="play-outline"></ion-icon>
        Lire
      </ion-button>

      <ion-segment color="weflix-lapis">
        <ion-segment-button value="liste" checked>
          <ion-icon color="weflix-white" name="add"></ion-icon>
          <ion-label color="weflix-white">Liste</ion-label>
        </ion-segment-button>
        <ion-segment-button color="weflix-white" value="rate">
          <ion-icon color="weflix-white" name="thumbs-up"></ion-icon>
          <ion-label color="weflix-white">Noter</ion-label>
        </ion-segment-button>
        <ion-segment-button value="share">
          <ion-icon color="weflix-white" name="share-social-outline"></ion-icon>
          <ion-label color="weflix-white">Partager</ion-label>
        </ion-segment-button>
      </ion-segment>

    </div>   

    <h4>SYNOPSIS</h4>
    
    <p>
      <ion-text color="secondary"><a>Reine Barb</a></ion-text>, membre de la royauté hard-rock, 
      aidée de son père Roi Thrash, veut détruire tous 
      les autres genres de musique pour laisser le rock<ion-text color="danger"> régner</ion-text> 
      en maître. Le destin du monde en jeu, Poppy et Branch, 
      accompagnés de leurs amis – Biggie, Chenille, Satin, Cooper  et 
      Guy Diamond – partent visiter tous les autres territoires pour
       unifier les Trolls contre Barb, qui cherche à tous les reléguer au second-plan.y
    </p>
    
    <ion-item >
      <ion-avatar slot="start">
        <img src="../../assets/mattP.jpg">
      </ion-avatar>
      
      <ion-label color="weflix-white" text-wrap>
        Matt Pokora
      </ion-label>

      <ion-button >
      <ion-icon color="light" slot="end" name="add-outline"></ion-icon> 
      </ion-button> 
    </ion-item>

  </div>
  

</ion-content>
