<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/"color="weflix-blue">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/signup" color="weflix-blue">S'inscrire</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>S'identifier</h1>
    <img src="assets/logo.png" />
  </div>


  <ion-item >
    <ion-label color="netflix-white">Email</ion-label>
    <ion-input color="netflix-white" type="mail" placeholder="Adresse email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label color="netflix-white">Mot de passe</ion-label>
    <ion-input color="netflix-white" type="password" placeholder="Mot de passe"></ion-input>
  </ion-item>
  <ion-item lines="none">
    <ion-button routerLink="/mdp" color="netflix-white" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
  </ion-item>
  <form id="form">
    <app-input placeholder="Email"></app-input>
    <app-input type="password" placeholder="Password"></app-input>
    <ion-button routerLink="/tab1" expand="block" shape="round">S'identifier</ion-button>
  </form>
</ion-content>
