<ion-tabs>

  <ion-tab-bar color="weflix-black" slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="search"></ion-icon>
      <ion-label>Rechercher</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="download"></ion-icon>
      <ion-label>Vidéos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="film"></ion-icon>
      <ion-label>Bientôt</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
