ion-content{
    --ion-background-color: var(--ion-color-weflix-dark);
  }
  .logo-header {
    height: 40px;
    margin-top: 5px;
  }

  .img-ban {
    width: 100%;
    margin: -7px;
  }

  .box-film {
  color: white;
  margin: 10px 0px 5px 5px;
  font-weight: 500;
  }

  .scroll-film {
    display: flex;
  overflow: scroll;
  }
 
  .film {
    margin-left: 5px;
  }
  .film img {
    height: 100px;
    max-width: none;
  }
