<ion-header [translucent]="true">
  <ion-toolbar color="weflix-black">
    <ion-title>
      <img class="logo-header" src="../../assets/logo.png">
    </ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <search-bar></search-bar>
  <img class="img-ban" src="../../assets/trolls.jpg">

  <ion-button (click)="openFilm()" expand="full" color="weflix-lapis">Regarder maintenant</ion-button>

  <p class="box-film">Avengers</p>

  <div class="scroll-film">
    <div class="film">
      <img src="../../assets/panther.jpg">
    </div>
    <div class="film">
      <img src="../../assets/infinity.jpg">
    </div>
    <div class="film">
      <img src="../../assets/captain.jpg">
    </div>
    <div class="film">
      <img src="../../assets/endgame.jpg">
    </div>
    <div class="film">
      <img src="../../assets/spider.jpg">
    </div>
    <div class="film">
      <img src="../../assets/iron.jpg">
    </div>
    <div class="film">
      <img src="../../assets/avengers.jpg">
    </div>
    <div class="film">
      <img src="../../assets/america.jpg">
    </div>
    <div class="film">
      <img src="../../assets/thor.jpg">
    </div>
    <div class="film">
      <img src="../../assets/hulk.jpg">
    </div>
    <div class="film">
      <img src="../../assets/ant.jpg">
    </div>
    <div class="film">
      <img src="../../assets/gardiens.jpg">
    </div>

  </div>

  <p class="box-film">Harry Potter</p>
  <div class="scroll-film">
    <div class="film">
      <img src="../../assets/thor.jpg">
    </div>
    <div class="film">
      <img src="../../assets/hulk.jpg">
    </div>
    <div class="film">
      <img src="../../assets/ant.jpg">
    </div>
    <div class="film">
      <img src="../../assets/gardiens.jpg">
    </div>
  </div>

  <p class="box-film">Twilight</p>
  <div class="scroll-film">
    <div class="film">
      <img src="../../assets/thor.jpg">
    </div>
    <div class="film">
      <img src="../../assets/hulk.jpg">
    </div>
    <div class="film">
      <img src="../../assets/ant.jpg">
    </div>
    <div class="film">
      <img src="../../assets/gardiens.jpg">
    </div>
  </div>

  <ion-header collapse="condense">
    <ion-toolbar color="weflix-black">
      <ion-title><img class="logo-header" src="../../assets/logo.png"></ion-title>
    </ion-toolbar>
  </ion-header>

  
</ion-content>
