<ion-app>
  <ion-menu menuId="main-menu" content-id="main">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/tab1">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            <ion-label>Accueil</ion-label>
          </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle>
            <ion-item routerLink="/profil">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <ion-label>Mon profil</ion-label>
            </ion-item>
            </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/">
          <ion-icon name="film-outline" slot="start"></ion-icon>
          <ion-label>Mes films</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/recherche">
          <ion-icon name="search-outline" slot="start"></ion-icon>
          <ion-label>Recherches</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/">
          <ion-icon name="heart" slot="start"></ion-icon>
          <ion-label>Favoris</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/">
          <ion-icon name="download-outline" slot="start"></ion-icon>
          <ion-label>Téléchargements</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/parametre">
          <ion-icon name="build-outline" slot="start"></ion-icon>
          <ion-label>Paramètres</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
        <ion-item routerLink="/aides">
          <ion-icon name="information-circle-outline" slot="start"></ion-icon>
          <ion-label>Aides</ion-label>
        </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item routerLink="/login">
            <ion-icon name="arrow-back-circle-outline" slot="start"></ion-icon>
            <ion-label>Deconnexion</ion-label>
          </ion-item>
          </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
