<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" color="weflix-blue">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">S'identifier</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

      <ion-content>
        <h1>Changer le mot de passe</h1>

        <ion-item>
          <ion-label color="netflix-white">Nouveau mdp</ion-label>
          <ion-input color="netflix-white" type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label color="netflix-white">Confirmation</ion-label>
          <ion-input color="netflix-white" type="password" placeholder="Mot de passe"></ion-input>
        </ion-item>

        

        <p>En appuyant sur 'Modifier', vous réinitialisez votre mot de passe.</p>

        <ion-button routerLink="/login" expand="block" shape="round">Modifier</ion-button>
      </ion-content>