<ion-header>
  <ion-toolbar>
    <ion-title>recherche</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-toolbar color="#C0C0C0">
<ion-searchbar #search placeholder="Recherche" animated="true" color="light" debounce="500"
 autocomplete="on" autocorrect="on" (ionchange)="_ionChange($event)"></ion-searchbar>
</ion-toolbar>
</ion-content>
