<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/login" color="weflix-blue">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">S'identifier</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Crée ton<br />Compte</h1>

  <form id="form">
    <ion-label>Pseudo</ion-label>
    <ion-input placeholder="Votre pseudo"></ion-input>
    <br/>
    <ion-label color="netflix-white">Email</ion-label>
    <ion-input placeholder="Votre email"></ion-input>
    <br/>
    <ion-label color="netflix-white">Mot de passe</ion-label>
    <ion-input type="password" placeholder="Votre mot de passe"></ion-input>
    <ion-button expand="block" shape="round">Rejoignez-nous</ion-button>
  </form>
  

  <p>En appuyant sur 'Rejoignez-nous', vous acceptez<br />nos termes et conditions.</p>
</ion-content>
