ion-toolbar {
    --background: #f5f5f3;
  
    ion-button {
      text-transform: initial;
      font-size: 17px;
    }
  }
  
  ion-content {
    --background: #f5f5f3;
  
    h1 {
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
    }
  
    #form {
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;
      
      ion-input {
        color: #010100;
      }
      ion-label{
        color: #000000;
      }
      ion-button {
        margin-top: 35px;
        height: 48px;
        font-size: 18px;
        text-transform: initial;
        border-radius: 50px;
        box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
        --box-shadow: none;
      }
    }
  
    p {
      text-align: center;
      color: #b6b6b6;
      margin-top: 40px;
    }
  }